.registerLogo {
  padding: 48px 0 0 24px;
  margin-bottom: 4rem;

  img {
    width: 30px;
  }
}

.registerWelcome {
  text-align: center;
  padding: 0 48px 0 48px;
  margin-bottom: 5rem;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
  }
}

.registerForm {
  text-align: center;
}

.registerFormTerms {
  margin: 1rem 0 4rem 48px;
  text-align: left;

  input {
    margin: 0 8px 0 0;
  }
}

.registerNoAccount {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  a {
    text-decoration: none;
    color: #1e78fe;
    font-weight: 700;
  }
}
