.logoutButton {
  width: 89%;
  text-align: center;
  margin: 0 24px 1.5rem 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #f7f7f7;
  font-weight: 700;
  border: none;

  img{
    border-radius: 50%;
    background-color: #f7f7f7;
    padding: 2px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  p {
    font-size: 1rem;
  }
}

.darkmode {
  background-color: #1e1e1e;
  color: rgb(217, 217, 217);
}
