.account {
  min-height: 80vh;
}

.accountFeather {
  text-align: center;
  margin: 2rem 24px 1.5rem 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #f7f7f7;
  font-weight: 700;

  img{
    border-radius: 50%;
    background-color: #f7f7f7;
    padding: 2px;
  }

  div {
    align-items: center;
    display: flex;
    gap: 8px;
  }
}

.accountBell {
  text-align: center;
  margin: 0 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px 15px 0 0;
  background-color: #f7f7f7;
  border-bottom: solid 2px #ebebeb;
  font-weight: 700;

  img{
    border-radius: 50%;
    background-color: #f7f7f7;
    padding: 2px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 130px;
  }
}

.accountGear {
  text-align: center;
  margin: 0 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #f7f7f7;
  border-bottom: solid 2px #ebebeb;
  font-weight: 700;

  img{
    border-radius: 50%;
    background-color: #f7f7f7;
    padding: 2px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.accountFAQ {
  text-align: center;
  margin: 0 24px 1.5rem 24px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  background-color: #f7f7f7;
  font-weight: 700;

  img{
    border-radius: 50%;
    background-color: #f7f7f7;
    padding: 2px;
  }

  div {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.lightmodeBg {
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background-color: #c4c4c4;
  position: relative;

  .darkmodeBtn {
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #5d5d5d;
    position: absolute;
    left: 3px;
    transition: left 400ms ease-in-out;
  }
}

.darkmodeBg {
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background-color: #3d3d3d;
  position: relative;

  .darkmodeBtn {
    width: 24px;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #9f9f9f;
    position: absolute;
    left: 23px;
    transition: left 400ms ease-in-out;
  }
}

.darkmode {
  .accountFeather {
    background-color: #1e1e1e;
  }

  .accountBell {
    background-color: #1e1e1e;
    border-bottom: solid 2px #3d3d3d;
  }

  .accountGear {
    background-color: #1e1e1e;
    border-bottom: solid 2px #3d3d3d;
  }

  .accountFAQ {
    background-color: #1e1e1e;
  }
}
