.homeLimit {
  display: flex;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  padding: 0.8rem 0.8rem;
  margin: 0 24px;
  border-radius: 50px;
}

.homeLimitText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px 0 24px;
  line-height: 1.5rem;

  p:nth-of-type(1) {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  p:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.homeLimitThreeDots {
  display: flex;
  align-items: center;
}
