.incomeButton {
  display: flex;
  align-items: center;
  width: 170px;
  padding: 12px;
  background-color: #f7f7f7;
  border-radius: 50px;

  div {
    line-height: 1.5;
    padding-left: 1rem;

    .incomeText {
      font-size: 0.8rem;
    }

    .incomeSum {
      font-weight: 700;
    }
  }
}
