.OnboardingTutorial {
  margin: 0 48px;
  text-align: center;
}

.OnboardingTutorialCard {
  margin: 8rem 0 4rem 0;
}

.OnboardingTutorialText {
  margin-bottom: 6rem;

  h1 {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  p {
    line-height: 1.5;
  }
}

.OnboardingTutorialButtons {
  div {
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
}
