.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 88px;
  background-color: #fff;
  box-shadow: 0px -15px 10px 0px rgba(13, 22, 54, 0.05);

  .image_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    a {
      text-decoration: none;
    }

    .nav_text {
      color: #0d1636;
      font-size: 0.75rem;
      font-weight: 600;
    }

    .nav_text_underline {
      width: 12px;
      height: 2px;
      margin: 6px auto;
      background: linear-gradient(180deg, #44bbfe 0%, #1e78fe 100%);
    }
  }
}

.darkmode {
  background-color: #1e1e1e;
  box-shadow: 0px -15px 10px 0px rgba(182, 182, 182, 0.05);

  .image_wrapper {
    .nav_text {
      color: #ffffff;
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
}

.navlink {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}
