.home {
  height: 100vh;
}

.header {
  margin-bottom: 1rem;
}

.creditCard {
  margin-bottom: 1.5rem;
}

.homeTotalWallet {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0 0 0 24px;
}

.bigButtons {
  margin: 0 24px 1.5rem 24px;
  display: flex;
  justify-content: space-between;
}
