.home {
  height: 100vh;
}

.homeTotalWallet {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0 0 0 24px;
}

.homeIncExp {
  display: flex;
  justify-content: space-between;
  margin: 0 24px 1rem 24px;

  div {
    width: 170px;
    height: 190px;
    background-color: #f7f7f7;
    border-radius: 10px;

    div {
      padding: 24px 0 0 20px;

      .homeIncExpTrendUp {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: #44bbfe;
        box-shadow: inset 0px -8px 16px #1e78fe;
        margin-bottom: 1rem;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 25px;
          height: 25px;
        }
      }
    }

    p:nth-of-type(1) {
      font-size: 1.4rem;
    }

    p:nth-of-type(2) {
      font-size: 2.2rem;
    }
  }

  div {
    div {
      .homeIncExpTrendDown {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: #ffcf53;
        box-shadow: inset 0px -8px 16px #ff9900;
        margin-bottom: 1rem;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
      }
    }
  }
}

.homeLimit {
  background-color: #f7f7f7;
  padding: 0.8rem 0.8rem;
  margin: 0 24px;
  border-radius: 50px;

  div {
    width: 100%;
    display: flex;
    div {
      .homeIncExpLimit {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: #ffcf53;
        box-shadow: inset 0px -8px 16px #ff9900;
      }

      .homeIncExpLimitIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
      }
    }
  }
}

.homeIncExpLimitText {
}
