.accSetup {
  min-height: 100vh;
  padding-top: 48px;
}

.accSetupLogo {
  margin-left: 24px;
  margin-bottom: 4rem;
  width: 47px;
  height: 47px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  img {
    width: 30px;
  }
}

.accSetupWelcome {
  text-align: left;
  padding: 0 48px;

  h1 {
    margin-bottom: 2rem;
  }

  p {
    text-align: left;
    margin-bottom: 1rem;
  }
}

.accSetupFormContainer {
  position: relative;
  width: 327px;
  height: 250px;
  background-color: #f7f7f7;
  border-radius: 18px;
  margin: 0 auto 4rem auto;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }
}

.accSetupFormContainerButton {
  position: absolute;
  bottom: -25px;
  left: 24px;
}

.accSetupFormInputField {
  text-align: center;
  margin-bottom: 3rem;
}

.accSetupFormButton {
  text-align: center;
}

.error_message {
  color: red;
  padding-top: 10px;
}
