.addIncomeHeadline {
  padding: 0 0 0 24px;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #298bff;
}

.addIncomeFormSelect {
  width: 40%;
  height: 2rem;
  border-radius: 25px;
  margin: 0 0 1rem 24px;
  padding-left: 0.5rem;
}

.addIncomeFormCard {
  margin-bottom: 1rem;
}

.addIncomeFormInput {
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
}

.addIncomeFormCategory {
  padding: 0 0 0 24px;
  display: flex;
  flex-direction: column;
  margin: 0 24px 1rem 0;

  label {
    margin-bottom: 0.8rem;
  }
}

.addIncomeFormCategorySelect {
  height: 56px;
  border-radius: 50px;
  width: 100%;
  padding-left: 10px;
  border: solid 1px rgb(199, 199, 199);
}

.addIncomeFormDate {
  display: flex;
  flex-direction: column;
  margin: 0 24px 2rem 24px;

  label {
    margin-bottom: 0.8rem;
  }
}

.addIncomeFormBlueButton {
  text-align: center;
}
