.date_item_container {
  margin-top: 30px;
  margin-left: 40px;
  align-self: flex-start;

  p {
    font-size: 12px;
    font-weight: 500;
    color: #0d1636;
    line-height: 16px;
    padding-bottom: 4px;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    color: #0d1636;
  }
}

.darkmode {
  p {
    color: rgb(217, 217, 217);
  }

  h2 {
    color: rgb(217, 217, 217);
  }
}
